/* 1024px */

@media screen and (min-width: 1024px){
    h3{
        font-size: 40px;
    }
    header{
        padding: 0 5%;
        #contBotonIngresar{          
            #botonLlamanos{
                display: inherit;               
            }
        }
    }
    main{
        #presentacionApp{
            border-radius: 0px 0px 128px 128px;
            flex-direction: row;
            display: grid;
            grid-template-columns: 1fr 1fr;
            #textosPresentacion{
                align-self: center;
                h1#tituloPresentacion{
                    width: 650px;
                    padding-top: 100px;
                    text-align: left;
                    margin-top: -130px;
                    br{
                        display: inherit;
                    }
                }
                .iconosDownload{
                    justify-content: left;
                    a{
                        img{
                            height: 67px;
                            padding: 0 20px 0 0;
                        }
                    }
                }
            }
            #imgCelPresentacion{
                justify-content: flex-end;;
                margin-left: -100px;
                #circuloFondoPpal{
                    width: 770px;
                    height: 770px;
                    margin-bottom: -770px;
                }
            }
        }
        #loQueOfrecemos{
            ul{
                grid-template-rows: 1fr; 
                grid-template-columns: 3fr 1fr 3fr 1fr 3fr 1fr 3fr;
                width: 90%;
                margin: auto;
                .elementosLista{
                    height: 350px;
                }
                .flecha{
                    display: inherit;
                    img{
                        transform: rotate(0deg);
                    }
                }
                .sinFlecha{
                    display: inherit;
                }
            }
        }
        #herramientasKForms{
            ul{
                max-width: 1278px;
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
        #habilitacion{
            h3{
                margin: 40px 7% 60px 7%;
            }
            .divisionPasos{
                grid-template-columns: 1fr 1fr;
                .invertirLugar{
                    order: -1;
                }
                .textoPasos{
                    margin: 30px auto; 
                    align-self: center;
                    max-width: 466px;
                    h3, p, .iconosDownload, form{
                        margin-left: 0;
                        margin-right: 0;
                    }
                    h3{
                        font-size: 40px;
                        line-height: 51px;
                    }
                    p{
                        font-size: 26px;
                    }
                    .iconosDownload{
                        width: 100%;
                        margin-top: 40px;
                        a{
                            img{
                                height: 67px;
                            }
                        }
                    }
                }
                .imgPasos{
                    display: inherit;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .circuloFondoPasos{
                        bottom: 550px;
                        margin-bottom: -600px;
                    }
                }
            }
        }

        #empresas{
            margin-top: 120px;
            #iconosEmpresas{
                width: 70%;
                margin: auto;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        #demo{
            border-radius: 128px 128px 0 0;
            padding-top: 95px;
            div{
                h3{
                    max-width: 760px;
                }
                p{
                    max-width: 760px;
                    font-size: 24px;
                }
                .iconosDownload{
                    a{
                        img{
                            height: 67px;
                        }
                    }
                }
            }
            #grillaDemo{
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding-bottom: 100px;
                margin-right: 10%;
                margin-left: 10%;
                #imgCelDemo{
                     div{
                        div.mockupPasos{
                            display: flex;
                            position: relative;
                            z-index: 10;
                            justify-content: center;
                            .imgPaso{
                                position: relative;
                                top: 0px;
                                left: 0;
                                width: 0;
                                img{
                                    border-radius: 10px;
                                    width: 218px;
                                    height: 485px;
                                    align-self: center;  
                                    position: relative;
                                    left: 125px;
                                }                    
                            }
                            .imgCel{
                                position: relative;
                                z-index: 10;
                                img{
                                    width: 252px;
                                    height: 519px;
                                }
                            }
                        }

                        /* .imgDemo{
                            width: 252px;
                            height: auto;
                            margin-top: 0;
                        }} */
                        #demo1{
                            margin-bottom: 150px;
                        }
                        #demo2{
                            display: inherit;
                            margin-top: 250px;
                        }                        
                    }
                    #circuloFondoDemo{
                        bottom: 600px;
                        margin-bottom: -350px
                    }
                    #circuloPequeñoDemo{
                        display: inherit;
                        width: 109px;
                        height: 109px;
                        border-radius: 50%;
                        background-color: $azul;
                        mix-blend-mode: multiply;
                        position: relative;
                        bottom: 350px;
                        margin-bottom: -350px;
                        left: 100%;
                    }
                }
                #textoDemo{
                    margin: auto;
                    max-width: 470px;
                    padding-bottom: 0;
                    p{
                        text-align: left;
                    }
                }
            }
            
        }
        #contacto{            
            form{
                max-width: 800px;
                margin: auto;
                display: grid;
                grid-column-gap: 20px;
                #txtAdicional{
                    width: 800px;
                }
                .a{
                    grid-area: a;
                }
                .b{
                    grid-area: b;
                }
                .c{
                    grid-area: c;
                }
                .d{
                    grid-area: d;
                }
                .e{
                    grid-area: e;
                }
                .f{
                    grid-area: f;
                    justify-self: end;
                }
                grid-template-areas: 
                    "a b"
                    "c d"
                    "e e"
                    "f f";
            }
        }
    }

    #toast1{
        top: 350px;
    }
}