/* 1449px */

@media screen and (min-width: 1449px){
    header{
        padding: 0 10%;
    }
    main{
        #presentacionApp{
            padding-left: 10%;
            padding-right: 10%;
            #imgCelPresentacion{
                margin-left: 0px;
            }
        }
        #loQueOfrecemos{
            ul{
                .elementosLista{
                    height: 310px;
                }
            }
        }
        #habilitacion{
            h3{
                margin: 40px 10% 60px 10%;
            }
            .divisionPasos{
                margin-left: 10%;
                margin-right: 10%;
            }
        }
        #herramientasKForms{
            margin-left: 10%;
            margin-right: 10%;
            width: 80%;
        }
    }
}