/* 768px */

@media screen and (min-width: 768px){
    #loQueOfrecemos{
        ul{
            .elementosLista{
                height: 300px;
            }
            .flecha{
                img{
                    transform: rotate(0deg);
                }
            }
            .sinFlecha{
                display: none;
            }
        }
    }
    #herramientasKForms{
        ul{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    #toast1{
        top: 180px;
    }
}