/* Colores */

$blanco:  #FFFFFF;
$gris: #EBF0F5;
$azul: #07617D;
/* $azulOscuro: #07617D; */
$celeste: #15A0B7;

/* Pesos tipográficos */

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

/* Generales */

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    max-width: 1449px;
    margin: auto;
}

h3, h4{
    font-weight: $medium;
    text-align: center;
    max-width: 790px;
    margin: auto;
}
h4{
    font-size: 18px;
    line-height: 27px;
    padding-top: 70px;
}
h3{
    font-size: 34px;        
    line-height: 51px;
}

.descripcionTxtLista{
    align-self: center;
    text-align: center;
    width: 95%;
    margin-top: 26px;
    h3.tituloDescrLista{
        font-size: 20px;
        line-height: 25px;
    }
    p.textoDescrLista{
        margin: 22px;
        font-size: 14px;
        line-height: 17px;
    }
}

.enColorCeleste{
    color: $azul;
}

.elementosLista, .flecha{
    list-style: none;
}

.justificadoIzq{
    text-align: left;
    margin-left: 5%;
}

ul{
    padding: 0;
}
