#loQueOfrecemos{
    border-radius: 18px;
    background-color: $blanco;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 90%;
    max-width: 1278px;
    margin-top: -50px;
    margin-bottom: 90px;
    position:relative; 
    z-index: 3;
    ul{
        padding-top: 50px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
        .elementosLista{
            display: flex;
            flex-direction: column;
            .circulopequeño{
                width: 102px;
                height: 102px;
                background-color: $gris;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-self: center;
            }
        }
        .flecha{
            justify-self: center;
            align-self: center;
            display: none;
            img{
                transform: rotate(90deg);
            }
        }
    }
}