#presentacionApp{
    padding: 100px 6% 0 6%;
    background-color: $azul;
    border-radius: 0px 0px 60px 60px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    #textosPresentacion{
        h1#tituloPresentacion{
            color: $blanco;
            font-weight: normal;
            font-size: 50px;
            padding: 50px 0 40px 0;
            text-align: center;
            position: relative;
            z-index: 2;
            br{
                display: none;
            }
            .resaltadoCeleste{
                background-color: $celeste;
            }
        }
    }
    #imgCelPresentacion{
        padding: 60px 0 90px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        #circuloFondoPpal{
            background-color: $azul;
            mix-blend-mode: multiply;
            border-radius: 50%;
            width: 700px;
            height: 700px;
            align-self: center;
            position: relative;
            bottom: 500px;
            margin-bottom: -700px;
        }
    }
}

/* Carrusel Bootstrap */

.mockup_cel{
    width: 294px;
    height: 606px;
    background-image: url("../images/iphone.png");
    background-size: 294px 606px;
    position: relative;
    z-index: 10;
}

.captura{
    width: 256px;
    height: 456px;
}

#carouselExampleSlidesOnly{
    margin: auto;
}

#contenedor{
    width: 256px;
    height: 456px;
    position: relative;
    left: 19px;
    top: 80px;
}