@charset "UTF-8";
/* Colores */
/* Pesos tipográficos */
/* Generales */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  margin: auto;
}

h3, h4 {
  font-weight: 500;
  text-align: center;
  max-width: 790px;
  margin: auto;
}

h4 {
  font-size: 18px;
  line-height: 27px;
  padding-top: 70px;
}

h3 {
  font-size: 34px;
  line-height: 51px;
}

.descripcionTxtLista {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  width: 95%;
  margin-top: 26px;
}

.descripcionTxtLista h3.tituloDescrLista {
  font-size: 20px;
  line-height: 25px;
}

.descripcionTxtLista p.textoDescrLista {
  margin: 22px;
  font-size: 14px;
  line-height: 17px;
}

.enColorCeleste {
  color: #07617D;
}

.elementosLista, .flecha {
  list-style: none;
}

.justificadoIzq {
  text-align: left;
  margin-left: 5%;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

.iconosDownload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.iconosDownload a img {
  height: 50px;
  padding: 0 10px;
}

.btn {
  background-color: #07617D;
  border: none;
  height: 48px;
  width: 140px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #07617D;
}

header {
  width: 100%;
  /* max-width: 1449px; */
  height: 100px;
  background-color: #FFFFFF;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 6%;
  z-index: 20;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

header #logoKforms {
  width: 50%;
}

header #logoKforms img {
  width: 90%;
  max-width: 290px;
}

header #contBotonIngresar {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header #contBotonIngresar #botonIngresar {
  height: 40px;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #07617D;
  border-radius: 12px;
}

header #contBotonIngresar #botonIngresar p {
  margin: 0;
  color: #FFFFFF;
  text-transform: uppercase;
}

#presentacionApp {
  padding: 100px 6% 0 6%;
  background-color: #07617D;
  border-radius: 0px 0px 60px 60px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#presentacionApp #textosPresentacion h1#tituloPresentacion {
  color: #FFFFFF;
  font-weight: normal;
  font-size: 50px;
  padding: 50px 0 40px 0;
  text-align: center;
}

#presentacionApp #textosPresentacion h1#tituloPresentacion br {
  display: none;
}

#presentacionApp #textosPresentacion h1#tituloPresentacion #resaltadoCeleste {
  background-color: #15A0B7;
}

#presentacionApp #imgCelPresentacion {
  padding: 60px 0 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#presentacionApp #imgCelPresentacion #circuloFondoPpal {
  background-color: #07617D;
  mix-blend-mode: multiply;
  border-radius: 50%;
  width: 700px;
  height: 700px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  bottom: 500px;
  margin-bottom: -700px;
}

/* Carrusel Bootstrap */
.mockup_cel {
  width: 294px;
  height: 606px;
  background-image: url("../images/iphone.png");
  background-size: 294px 606px;
  position: relative;
  z-index: 10;
}

.captura {
  width: 256px;
  height: 456px;
}

#carouselExampleSlidesOnly {
  margin: auto;
}

#contenedor {
  width: 256px;
  height: 456px;
  position: relative;
  left: 19px;
  top: 80px;
}

#loQueOfrecemos {
  border-radius: 18px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
  margin: auto;
  width: 90%;
  max-width: 1278px;
  margin-top: -50px;
  margin-bottom: 90px;
  position: relative;
  z-index: 3;
}

#loQueOfrecemos ul {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
}

#loQueOfrecemos ul .elementosLista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#loQueOfrecemos ul .elementosLista .circulopequeño {
  width: 102px;
  height: 102px;
  background-color: #EBF0F5;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

#loQueOfrecemos ul .flecha {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: none;
}

#loQueOfrecemos ul .flecha img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#herramientasKForms {
  width: 90%;
  margin: auto 5%;
}

#herramientasKForms ul {
  margin: 47px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#herramientasKForms ul .elementosLista {
  width: 270px;
  height: 206px;
  -webkit-box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 17px auto;
}

#herramientasKForms ul .elementosLista .contenedorImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#herramientasKForms ul .elementosLista .descripcionTxtLista {
  margin-top: 23px;
}

#herramientasKForms ul .elementosLista .descripcionTxtLista p.textoDescrLista {
  margin: 10px;
}

#habilitacion {
  margin-top: 80px;
}

#habilitacion h3 {
  text-align: left;
  margin: 40px 5% 20px 5%;
  max-width: 100%;
}

#habilitacion .divisionPasos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#habilitacion .divisionPasos .textoPasos {
  margin: 30px 0;
}

#habilitacion .divisionPasos .textoPasos h3 {
  margin-bottom: 34px;
  margin-top: 0;
  text-align: left;
  font-size: 28px;
  line-height: 38px;
}

#habilitacion .divisionPasos .textoPasos p {
  margin: 0 5% 30px 5%;
  font-size: 22px;
}

#habilitacion .divisionPasos .textoPasos #paso3 {
  margin-bottom: 0;
}

#habilitacion .divisionPasos .textoPasos .iconosDownload {
  margin: 0 5%;
  width: 90%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#habilitacion .divisionPasos .textoPasos .iconosDownload a img {
  padding: 0 10px 0 0;
}

#habilitacion .divisionPasos .textoPasos form {
  margin: 0 5%;
}

#habilitacion .divisionPasos .textoPasos form .form-control, #habilitacion .divisionPasos .textoPasos form .form-select {
  border: 1.5px solid #07617D;
  margin-bottom: 20px;
}

#habilitacion .divisionPasos .imgPasos {
  margin: 30px 0;
  display: none;
}

#habilitacion .divisionPasos .imgPasos .imgPaso {
  height: 606px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#habilitacion .divisionPasos .imgPasos .circuloFondoPasos {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100vw;
  height: 100vw;
  max-width: 672px;
  max-height: 672px;
  background: #EBF0F5;
  border-radius: 50%;
  position: relative;
  bottom: 550px;
  margin-bottom: -400px;
  z-index: -10;
}

#empresas {
  margin: 20px 5% 100px 5%;
}

#empresas h3 {
  margin: 50px auto 20px auto;
  width: 80%;
}

#empresas #iconosEmpresas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#empresas #iconosEmpresas img {
  margin: 30px auto;
}

#demo {
  background-color: #07617D;
  border-radius: 60px 60px 0 0;
  color: #FFFFFF;
  padding-top: 70px;
}

#demo div h3 {
  padding-bottom: 33px;
}

#demo div p {
  width: 90%;
  margin: 0px auto 50px auto;
  text-align: center;
  font-size: 20px;
}

#demo div .iconosDownload {
  margin-bottom: 50px;
}

#demo #imgCelDemo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#demo #imgCelDemo div .imgDemo {
  height: 606px;
  z-index: 10;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#demo #imgCelDemo div #demo2 {
  margin-top: 150px;
  display: none;
}

#demo #imgCelDemo #circuloFondoDemo {
  background-color: #07617D;
  mix-blend-mode: multiply;
  width: 100vw;
  height: 100vw;
  max-width: 600px;
  max-height: 600px;
  border-radius: 50%;
  position: relative;
  bottom: 480px;
  margin: auto;
  margin-bottom: -280px;
}

#demo #imgCelDemo #circuloPequeñoDemo {
  display: none;
}

#demo #textoDemo {
  padding-bottom: 100px;
}

#demo #textoDemo form {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#demo #textoDemo form .form-control {
  background-color: #07617D;
  color: #FFFFFF;
  border: 1.5px solid #FFFFFF;
  margin-right: 20px;
}

#demo #textoDemo form .btn {
  color: #07617D;
  background-color: #FFFFFF;
}

#contacto {
  background-color: #EBF0F5;
  padding: 100px 5% 0 5%;
}

#contacto h3 {
  padding-bottom: 77px;
}

#contacto form {
  padding-bottom: 20px;
}

#contacto form .form-control {
  margin-bottom: 20px;
  color: #07617D;
  border: 1.5px solid #07617D;
  border-radius: 10px;
  height: 48px;
  background-color: #EBF0F5;
}

#contacto form #txtAdicional {
  height: 120px;
}

#contacto form .btn {
  float: right;
}

footer {
  padding: 75px 0 63px 0;
  background-color: #EBF0F5;
}

footer .lineaDivision {
  width: 80%;
  border: 1px solid #C4C4C4;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

footer .txtFooter {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  width: 80%;
  margin: auto;
}

/* 768px */
@media screen and (min-width: 768px) {
  #loQueOfrecemos ul .elementosLista {
    height: 300px;
  }
  #loQueOfrecemos ul .flecha img {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  #loQueOfrecemos ul .sinFlecha {
    display: none;
  }
  #herramientasKForms ul {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

/* 1024px */
@media screen and (min-width: 1024px) {
  h3 {
    font-size: 40px;
  }
  header {
    padding: 0 5%;
  }
  main #presentacionApp {
    border-radius: 0px 0px 128px 128px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  main #presentacionApp #textosPresentacion {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  main #presentacionApp #textosPresentacion h1#tituloPresentacion {
    width: 650px;
    padding-top: 100px;
    text-align: left;
    margin-top: -130px;
  }
  main #presentacionApp #textosPresentacion h1#tituloPresentacion br {
    display: inherit;
  }
  main #presentacionApp #textosPresentacion .iconosDownload {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  main #presentacionApp #textosPresentacion .iconosDownload a img {
    height: 67px;
    padding: 0 20px 0 0;
  }
  main #presentacionApp #imgCelPresentacion {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: -100px;
  }
  main #presentacionApp #imgCelPresentacion #circuloFondoPpal {
    width: 770px;
    height: 770px;
    margin-bottom: -770px;
  }
  main #loQueOfrecemos ul {
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 3fr 1fr 3fr 1fr 3fr 1fr 3fr;
        grid-template-columns: 3fr 1fr 3fr 1fr 3fr 1fr 3fr;
    width: 90%;
    margin: auto;
  }
  main #loQueOfrecemos ul .elementosLista {
    height: 350px;
  }
  main #loQueOfrecemos ul .flecha {
    display: inherit;
  }
  main #loQueOfrecemos ul .flecha img {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  main #loQueOfrecemos ul .sinFlecha {
    display: inherit;
  }
  main #herramientasKForms ul {
    max-width: 1278px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  main #habilitacion h3 {
    margin: 40px 7% 60px 7%;
  }
  main #habilitacion .divisionPasos {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  main #habilitacion .divisionPasos .invertirLugar {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  main #habilitacion .divisionPasos .textoPasos {
    margin: 30px auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 466px;
  }
  main #habilitacion .divisionPasos .textoPasos h3, main #habilitacion .divisionPasos .textoPasos p, main #habilitacion .divisionPasos .textoPasos .iconosDownload, main #habilitacion .divisionPasos .textoPasos form {
    margin-left: 0;
    margin-right: 0;
  }
  main #habilitacion .divisionPasos .textoPasos h3 {
    font-size: 40px;
    line-height: 51px;
  }
  main #habilitacion .divisionPasos .textoPasos p {
    font-size: 26px;
  }
  main #habilitacion .divisionPasos .textoPasos .iconosDownload {
    width: 100%;
    margin-top: 40px;
  }
  main #habilitacion .divisionPasos .textoPasos .iconosDownload a img {
    height: 67px;
  }
  main #habilitacion .divisionPasos .imgPasos {
    display: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main #habilitacion .divisionPasos .imgPasos .circuloFondoPasos {
    bottom: 550px;
    margin-bottom: -600px;
  }
  main #empresas {
    margin-top: 120px;
  }
  main #empresas #iconosEmpresas {
    width: 70%;
    margin: auto;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  main #demo {
    border-radius: 128px 128px 0 0;
    padding-top: 95px;
  }
  main #demo div h3 {
    max-width: 760px;
  }
  main #demo div p {
    max-width: 760px;
    font-size: 24px;
  }
  main #demo div .iconosDownload a img {
    height: 67px;
  }
  main #demo #grillaDemo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-bottom: 100px;
    margin-right: 10%;
    margin-left: 10%;
  }
  main #demo #grillaDemo #imgCelDemo div .imgDemo {
    width: 252px;
    height: auto;
    margin-top: 0;
  }
  main #demo #grillaDemo #imgCelDemo div #demo1 {
    margin-bottom: 150px;
  }
  main #demo #grillaDemo #imgCelDemo div #demo2 {
    display: inherit;
    margin-top: 250px;
  }
  main #demo #grillaDemo #imgCelDemo #circuloFondoDemo {
    bottom: 600px;
    margin-bottom: -350px;
  }
  main #demo #grillaDemo #imgCelDemo #circuloPequeñoDemo {
    display: inherit;
    width: 109px;
    height: 109px;
    border-radius: 50%;
    background-color: #07617D;
    mix-blend-mode: multiply;
    position: relative;
    bottom: 350px;
    margin-bottom: -350px;
    left: 100%;
  }
  main #demo #grillaDemo #textoDemo {
    margin: auto;
    max-width: 470px;
    padding-bottom: 0;
  }
  main #demo #grillaDemo #textoDemo p {
    text-align: left;
  }
  main #contacto form {
    max-width: 800px;
    margin: auto;
    display: -ms-grid;
    display: grid;
    grid-column-gap: 20px;
        grid-template-areas: "a b" "c d" "e e" "f f";
  }
  main #contacto form #txtAdicional {
    width: 800px;
  }
  main #contacto form .a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: a;
  }
  main #contacto form .b {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: b;
  }
  main #contacto form .c {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: c;
  }
  main #contacto form .d {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: d;
  }
  main #contacto form .e {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: e;
  }
  main #contacto form .f {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: f;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

/* 1449px */
@media screen and (min-width: 1449px) {
  header {
    padding: 0 10%;
  }
  main #presentacionApp {
    padding-left: 10%;
    padding-right: 10%;
  }
  main #presentacionApp #imgCelPresentacion {
    margin-left: 0px;
  }
  main #loQueOfrecemos ul .elementosLista {
    height: 310px;
  }
  main #habilitacion h3 {
    margin: 40px 10% 60px 10%;
  }
  main #habilitacion .divisionPasos {
    margin-left: 10%;
    margin-right: 10%;
  }
  main #herramientasKForms {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
}
/*# sourceMappingURL=styles.css.map */